BASIC PROGRAMMING IN PYTHON

1.Print Hello World!

In [1]:
print("hello","World",sep="_",end="!")

hello_World!

2.Add Two Numbers

In [2]:
def add(n,m):
    return n+m
num1 = int(input("Enter 1st number:"))
num2 = int(input("Enter 2nd Number:"))
result = add(num1,num2)
print("Addition of num1 and num2 are: {}".format(result))

Enter 1st number: 10
Enter 2nd Number: 20

Addition of num1 and num2 are: 30

3.Find square

In [4]:
def square(n):
    return n*n
def cube(n):
    return n*n*n

number = int(input("Enter number to find square:"))
print("sqaure of {1} is {0}".format(square(number),number))
print("Cube of {num} is {num_cube}".format(num_cube=cube(number),num=number))

Enter number to find square: 5

sqaure of 5 is 25
Cube of 5 is 125

4.Check a number is positive ,negative,or zero

In [6]:
number = int(input("Enter a number to check: "))
if number>0:
    print("{} is a positive number".format(number))
elif number<0:
    print("{} is a negative number".format(number))
else:
    print("{} is simply a zero".format(number))

Enter a number to check:  36247

36247 is a positive number

5.largest among 3 numbers

In [8]:
a = int(input("A:"))
b = int(input("B:"))
c = int(input("C:"))

if a> b and a>c:
    print(f"{a} is a largest number")
elif b>c:
    print(f"{b} is a largest number")
else:
    print(f"{c} is a largest number")

A: 2
B: 4
C: 1

4 is a largest number

6.Multiplication table

In [9]:
table = int(input("Enter which number table do you want: "))
upto = 10

for i in range(1,upto+1):
    print(f"{i} * {table} = {i*table}")

Enter which number table do you want:  2

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20

7.Simple calculator

In [2]:
operation = input("Enter calculator symbol + - * / // %:")

def add(num):
    result = 0
    for i in num:
        result +=i
    return result

def sub(num):
    return num[0] - num[1]

def mul(num):
    result =1 
    for i in num:
        result*= i
    return result

def div(num):
    return num[0]//num[1]
def fdiv(num):
    return num[0]/num[1]
def mod(num):
    return num[0]%num[1]

if operation == '+' or operation == '-' or operation =='*' or operation =='/' or operation == '//' or operation=='%':
    operands = list(map(int,input("Enter the numbers separated by space:").split(" ")))
    if operation == '+':
        print("Addition:",add(operands))
    elif operation =='-':
        print("Substraction:",sub(operands))
    elif operation =='*':
        print("Multiplication:",mul(operands))
    elif operation =='//':
        print("Division:",div(operands))
    elif operation =='/':
        print("Floor Division: ",fdiv(operands))
    elif operation =='/':
        print("Modulus:",mod(operands))
else:
    print("Enter invalid operation...")

Enter calculator symbol + - * / // %: /
Enter the numbers separated by space: 452 2

Floor Division:  226.0

8.swap  two variables

In [3]:
a = 10
b = 20
print(f"Before swapping a has {a} and b has {b}")
a,b = b,a
print(f"After swapping a has {a} and {b} has {b}")

Before swapping a has 10 and b has 20
After swapping a has 20 and 10 has 10

In [4]:
x = 100
y = 150
print(f"before swapping x has {x} and y has {y}")
x = x+y
y = x-y
x = x-y
print(f"After swapping x has {x} and y has {y}")

before swapping x has 100 and y has 150
After swapping x has 150 and y has 100

9.Calculate the area of tringle

In [8]:
selection = int(input("Apply 1 if it is right angle triangle else 0: "))
def right_angled(b,h):
    area = 0.5*b*h
    return area
def equilateral(side):
    area = ((3**0.5)/4)*side*side
    return area
if selection == 1:
    height = int(input("Enter Height of the triangle:"))
    base = int(input("Enter base of the triangle:"))
    print("Area of right angled triangle is: {right_angled(base,height)}")
else:
    side = int(input("enter side of the Equilateral triangle: "))
    print("Area of Equilateral triangle is {}".format(equilateral(side)))

Apply 1 if it is right angle triangle else 0:  2
enter side of the Equilateral triangle:  5

Area of Equilateral triangle is 10.825317547305481

In [9]:
try:
    base = int(input("Enter base of the triangle: "))
    height = int(input("Enter height of the triangle:"))
    area = 0.5*base*height
except:
    area = ((3**0.5)/4)*base*base
finally:
    print(f"Area of triangle is {area}")

Enter base of the triangle:  3
Enter height of the triangle: 4

Area of triangle is 6.0

10.Solve Quadratic eqaution

In [13]:
a = int(input())
b = int(input())
c = int(input())

if a == 0:
    print("Invalid Quadrilateral equation.")
else:
    discriminant = b*b - 4 * a * c
    square_dis = discriminant ** 0.5
    denominator = 2*a
    if discriminant > 0:
        # if b*b> 4*a*c,then root are real and different;roots of x2 - 77x - 12 are 3 and 4
        print("real and different roots")
        print("Roots: ",-b-square_dis/denominator,"and",-b+sqaure_dis/denominator)
    elif discriminant == 0:
        #b*b = 4*a*c,then roots are real and both roots are same;roots of x2-2x+1 and 1
        print("Real and same roots")
        print("Roots are: "+-b/denomitor)
    
    else:
        # if b*b <4*a*c,then roots are complex;x2+x+1 roots are -0.5 +i1.73205
        print("Complex roots")
        print("Roots are: ",-b/denominator,"i")

 1
 1
 1

Complex roots
Roots are:  -0.5 i

11.convert kilometers to miles

In [15]:
# 1 kilometer = 0.6215 miles
kilometers = float(input("Enter kilometer to convert into miles: "))
miles = kilometers /1.609
print(f"{kilometers} kilometers are equal to {miles} miles")

Enter kilometer to convert into miles:  1

1.0 kilometers are equal to 0.6215040397762586 miles

In [17]:
# <!-- 1 miles = 1.609 kilometers-->
miles = float(input("Enter miles to convert into kilometers: "))
kilometers = miles * 1.609
print(f"{miles} miles are equal to {kilometers} kilometers")

Enter miles to convert into kilometers:  5

5.0 miles are equal to 8.045 kilometers

12.Convert celsius to fahrenheit

In [3]:
# (C*1.8) +32 = F

celsius = float(input("Enter celsius to convert: "))
fahrenheit = (celsius * 1.8)+32
print(f"Fahrenheit: {round(fahrenheit,2)}")

Enter celsius to convert:  37

Fahrenheit: 98.6

In [4]:
fahrenheit = float(input("Enter Fahrenheit: "))
celsius = (fahrenheit -32)/1.8
print(f"Celsius: {round(celsius,2)}")

Enter Fahrenheit:  98

Celsius: 36.67

13.Check a number is even or odd

In [5]:
num = int(input("Enter a number: "))

def isEven(n):
    return n%2 == 0
    # return 1 if n%2 ==0 else 0
    # return True if n%2 == 0 else False

if isEven(num):
    print("Even number!")
else:
    print("Odd number!")

Enter a number:  2

Even number!

14.Check Leap Year or not

In [6]:
year = int(input("Enter year: "))

def leap(year):
    return year%4==0
print("Leap Year"if leap(year) else "Non leap year")

Enter year:  2023

Non leap year

15.Sum of natural numbers

In [7]:
number = int(input("Number upto: "))
sum = 0
for i in range(number+1):
    sum += i
print("Sum:",sum)

Number upto:  15

Sum: 120

In [8]:
number = int(input("Enter number upto: "))
sum = 0
for i in range(number+1):
    sum+= i
print("Sum:",sum)

Enter number upto:  14

Sum: 105

In [11]:
number = int(input("Enter number: "))

def sum(n):
    if n== 1:
        return 1
    else:
        return n+ sum(n-1)
print("Sum of {} natural numbers are: {}".format(number,sum(number)))

Enter number:  15

Sum of 15 natural numbers are: 120

16.Factorial of a number

In [12]:
number = int(input('Enter number:'))
factorial = 1
for i in range(1,number+1):
    factorial *=i
print(f"factorial of {number} is {factorial}")

Enter number: 5

factorial of 5 is 120

In [15]:
def factorial(n):
    # return 1 if n==0 else n*factorail(n-1)
    if n==1:
        return 1
    else:
        return n* factorial(n-1)

if __name__ == "__main__":
    number = int(input())
print(factorial(number))

 5

120

17.Factors of a number

In [17]:
number = int(input("number:"))

for i in range(1,number+1):
    if number%i == 0:
        print(i,end=' ')

number: 18

1 2 3 6 9 18

18.Prime number

In [18]:
number = int(input("Any number: "))
def isPrime(number):
    for i in range(2,(number//2)+1):
        if number%i==0:
            return False
            break
    return True

if isPrime(number):
    print("{} is a prime number".format(number))
else:
    print("{} is not a prime number".format(number))

Any number:  21

21 is not a prime number

19.Prime number in an interval

In [19]:
start = int(input("Enter start: "))
stop = int(input("enter stop: "))

def isPrime(n):
    for j in range(2,(n//2)+1):
        if i%j == 0:
            return False
    return True

for i in range(start,stop+1):
    if isPrime(i):
        print(i,end=" ")

Enter start:  2
enter stop:  100

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

20.fabinacci series

In [21]:
upto = int(input("Fabinacci sequence upto: "))

print("fabinacci  sequence: ",end=" ")
n=0
m=1
if upto==0:
    print(n)
elif upto == 1:
    print(n,m)
else:
    print(n,m,end=' ')
    for i in range(2,upto+1):
        o = m
        m = m+n
        n = o
        print(m,end=' ')

Fabinacci sequence upto:  1

fabinacci  sequence:  0 1

In [22]:
num = int(input("Enter the number: "))
def fabinocci(n):
    if n<2:
        return n
    else:
        return fabinocci(n-1)+fabinocci(n-2)
print("fabinnocci sequence: ",end=' ')
for i in range(num):
    print(fabinocci(i),end=" ")

Enter the number:  9

fabinnocci sequence:  0 1 1 2 3 5 8 13 21

21.Armstrong number

In [23]:
number = int(input())
copy = number
armstrong = 0
count = len(str(number))

while number >0:
    remainder = number %10
    armstrong += remainder**count
    number //=10

if armstrong == copy:
    print(f"{copy} is an Armstrong number")
else:
    print("not an armstrong number")

 153

153 is an Armstrong number

22.Armstong number in an interval

In [24]:
start = int(input("Enter first number: "))
stop = int(input("Enter final number: "))

def isArmstrong(n):
    str_n = str(n)
    count = len(str_n)
    armstrong = 0
    for j in str_n:
        armstrong += int(j)**count
    if armstrong == n:
        return n
for i in range(start,stop+1):
    if isArmstrong(i):
        print(i,end=" ")

Enter first number:  1
Enter final number:  500

1 2 3 4 5 6 7 8 9 153 370 371 407

23.Power of 2 by anonumous function

In [26]:
number = int(input("Enter number"))
a = list(map(lambda x: 2**x,range(number+1)))
for i in range(number+1):
    print(f'2 power {i} is {a[i]}')

Enter number 5

2 power 0 is 1
2 power 1 is 2
2 power 2 is 4
2 power 3 is 8
2 power 4 is 16
2 power 5 is 32

24.Find numbers divisible by another number

In [27]:
number = int(input("Enter number: "))
upto = int(input("Enter a number upto we hae to check: "))
divisible = list(filter(lambda y: y%number == 0,list(range(1,upto+1))))
print(f"the list of numbers which are divisible by {number} are {divisible}")

Enter number:  5
Enter a number upto we hae to check:  80

the list of numbers which are divisible by 5 are [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80]

25.Find HCF or GCD

In [30]:
nums = [int(x) for x in list(input().split(','))]

def gcd(nums):
    nums = sorted(nums)
    for j in range(nums[0],1,-1):
        boolean = False
        for i in nums:
            if i%j==0:
                boolean = True
            else:
                boolean = False
        if boolean == True:
            return j
print(gcd(nums))

 10,5,65,40,20

5

26.LCM

In [31]:
m = int(input("Primary: "))
n = int(input("Secondary: "))
large = ref = m if m>n else  n
small = n if m>n else m
count = 2
while large % small !=0:
    large = ref
    large *= count
    count +=1
print("LCM",large)

Primary:  4
Secondary:  6

LCM 12

In [32]:
m = m1 = int(input("Primary: "))
n = n1 = int(input("Second: "))
while n:
    m,n = n,m%n
lcm = (m1*n1)//m
print("LCM: ",lcm)

Primary:  4
Second:  6

LCM:  12

27.Reverse a Number

In [1]:
num = 12345
rev_num = 0
while num> 0:
    rem = num %10
    rev_num = rem +(rev_num *10)
    num //=10
print(rev_num)

54321

In [2]:
num = 12345
print(int(str(num)[::-1]))

54321

28.Count number of digits in a number

In [3]:
num = 123
count = 0
while num:
    num //=10
    count +=1
print(count)

3

In [5]:
num = 1234
print(len(str(num)))

4

29.Compute the power of a number

In [6]:
num = 4
pwr = 2
def power(num,pwr):
    return num ** pwr
print(power(num,pwr))

16

In [7]:
print(int(pow(4,3)))

64

30.Creating Pyramid Patterns

In [9]:
n = 5
for i in range(n):
    for j in range(n):
        print("* ",end = "")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [10]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *

In [11]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(i+1):
        print("* ",end="")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [12]:
n = 5
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(n-i):
        print("* ",end="")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [13]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(n-i):
        print("* ",end="")
    print()

    * * * * *
   * * * *
  * * *
 * *
*

In [17]:
n = 5
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for k in range(i+1):
        print("* ",end="")
    print()
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for k in range(n-i-1):
        print("* ",end="")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

31.check if list is empty

In [18]:
list1 = [21,3,9,54,3,24]
list2 = []
if len(list1) == 0:
    print("List1 is empty")
else:
    print(f"List1 has {len(list1)} elements")

if not list2:
    print("List id Empty")

List1 has 6 elements
List id Empty

32.Get the last Element of the list

In [19]:
my_list = [1,2,3,4,5,6]
print(my_list[len(my_list)-1])
print(my_list[-1])

6
6

33.indexx of list using for loop

In [20]:
num = ['zero','one','two','three']
for i in num:
    ind = num.index(i)
    print(ind, 'index of',i)

0 index of zero
1 index of one
2 index of two
3 index of three

34.Count the occurance of an item in  a list

In [21]:
List = [1,2,3,4,2,4,1,4,5,2,6,72,7,8]
search = 2
print(List.count(search))

3

In [23]:
search = 1
count = 0
for i in List:
    if search == i:
        count +=1
print(count)

2

35.Slice lists

In [24]:
my_list = [1,2,3,4,5,6,7,8,9,10]

# Get the first three items
slice1 = my_list[:3]
print(slice1)

# Get the last three items
slice2 = my_list[-3:]
print(slice2)

# Get every other starting from the second item
slice3 = my_list[1::2]
print(slice3)

# Reverse the list
slice4 = my_list[::-1]
print(slice4)

[1, 2, 3]
[8, 9, 10]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

36.Concatenate two lists

In [26]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

print(list1+list2)

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
str1 = "hello"
str2 = "world"

total = "_".join((str1,str2))
print(total)

hello_world

37.Concatenate two lists

In [28]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

print(list1+list2)

list1.extend(list2)

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [31]:
str1 = "Hello"
str2 = "world"

total = "_".join((str1,str2))
print(total)

Hello_world

38.split a list into evenly sized chunks

In [40]:
my_list = [1,2,3,4,5,66,7,8,9,10,11,12,13,14]
size = 2
lists = [my_list[i:i+size] for i in range(0,len(my_list),size)]
print(lists)

[[1, 2], [3, 4], [5, 66], [7, 8], [9, 10], [11, 12], [13, 14]]

39.Flatten list from nested list

In [42]:
nested_list = [0,1,0.2,[3.1,4.2,[5,6,[70,80,[900,1000]]]]]
def flattened(num):
    flattened_list = []
    for i in num:
        if isinstance(i,list):
            flattened_list.extend(flattened(i))
        else:
            flattened_list.append(i)
        return flattened_list.append(i)
    print(flattened(nested_list))

40.Iterate through two lists in parallel

In [43]:
my_list = [1,2,3,4]
my_list2 = my_list[::-1]
for i,j in zip(my_list,my_list2):
    print(i,j)

1 4
2 3
3 2
4 1

41.Remove duplicate element from a list

In [46]:
my_list = [1,1,2,7,3,4,4,5,5,3,3,5,4,1,6]
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6, 7]

In [49]:
my_list = [1,1,2,7,3,4,4,5,5,3,3,5,4,1,6]
new_list = []
for i in my_list:
    if i not in new_list:
        new_list.append(i)
new_list.sort()
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

42.Del,remove,and pop  on a list

In [50]:
my_list = [1,2,3,4,5,6,7,8,9]
print('Actual list:',my_list)
del my_list[1] #delete the 1st index item
print("Del index 1: ",my_list)
my_list.remove(3) #remove element which we passed as an argument
print(my_list)
popped_item = my_list.pop(5) #pop item in 5th index
print(f"{popped_item} is fetchedd which locates as 5th index of {my_list}")

Actual list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Del index 1:  [1, 3, 4, 5, 6, 7, 8, 9]
[1, 4, 5, 6, 7, 8, 9]
8 is fetchedd which locates as 5th index of [1, 4, 5, 6, 7, 9]

43.Add 2 matrices

In [58]:
m, n = map(int, input("Enter matrix structure in M*N: ").split())

print("Enter the elements of first matrix: ")
matrix1 = []
for i in range(m):
    row = []
    for j in range(n):
        k = int(input())
        row.append(k)
    matrix1.append(row)

print("Enter the elements of second matrix: ")
matrix2 = []
for i in range(m):
    row = []
    for j in range(n):
        k = int(input())
        row.append(k)
    matrix2.append(row)

# Matrix Addition
major = []
for i in range(m):
    minor = []
    for j in range(n):
        k = matrix1[i][j] + matrix2[i][j]
        minor.append(k)
    major.append(minor)

# Printing result
print("Resultant Matrix:")
for i in range(m):
    for j in range(n):
        print(major[i][j], end=" ")
    print()

Enter matrix structure in M*N:  2 2

Enter the elements of first matrix:

 2
 4
 6
 8

Enter the elements of second matrix:

 8
 6
 4
 2

Resultant Matrix:
10 10
10 10

44.Transpose aa matrix

In [ ]:
# Example matrix
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
transpose = []
for i in range(len(matrix[0])):
    row=[]
    for j in range(len(matrix)):
        row.append(matrix[j][i])
    transpose.append(row)

# using the zip function
# transpose = list(map(list,zip(matrix)))

print("Transpose matrix: ")
for row in transpose:
    print(row)

45.Randomly select an elemnt from the list

In [62]:
import random
lis = [1,2,3,4,5,6,7,8]
print(random.choice(lis))

8

46.Convert String to dateTime

In [67]:
from datetime import datetime

str_time = "22-10-2014 02:30:12"
dtime = datetime.strptime(str_time, '%d-%m-%Y %H:%M:%S')
print(dtime)

2014-10-22 02:30:12

47.Size of an Image

In [69]:
# from PTL import Image

# pic = Image.open("pictuure.jpg")
# width,height = pic.size
# print("Image resolution: ",width,"*",height)

48.Print output without a new line

In [70]:
print("I am a python",end=" ")
print("Programmer!")

I am a python Programmer!

49.Get the class name of an instance

In [72]:
class MyClass:
    pass
obj = MyClass()

class_name = type(obj).__name__
class_Name = obj.__class__.__name__

print(class_name)
print(class_Name)

MyClass
MyClass

50.Compute all the permutations of the string

In [74]:
from itertools import permutations
text = 'abc'
letters = permutations(text)
words = [''.join(letter) for  letter in letters]
for word in words:
    print(word,end=" ")

abc acb bac bca cab cba